@charset "UTF-8";
.verjs-select-box {
    position: relative;
    background: #ffffff;
}

.verjs-select-box ul, .verjs-select-box li {
    list-style: none;
}

.verjs-select {
    border: 1px solid #dddddd;
    line-height: 35px;
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    background: #ffffff;
}

.verjs-select span {
    display: inline-block;
    width: 100%;
    padding-right: 30px;
}

.verjs-select i {
    font-size: .5rem;
    display: inline-block;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.verjs-select-option-list {
    border: 1px solid #ddd;
    position: absolute;
    background: #ffffff;
    margin-top: 10px;
    overflow: hidden;
    display: none;
}
.verjs-select-option-items-value-hide{
    display: none;
}

.verjs-select-option-list .verjs-search-items {
    line-height: 40px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

.verjs-select-option-list .verjs-search-items .verjs-search-input {
    border: 0;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
}
.verjs-select-option-list .verjs-search-items .verjs-select-btn-list {
    height: 40px;
    overflow: hidden;
    width: 93.7%;
    margin: auto;
}
.verjs-select-option-list .verjs-search-items .verjs-select-btn-list span{
    cursor: pointer;
    display: inline-block;
    width: 33.3333333333%;
    font-size: 14px;
    color: coral;
}

.verjs-select-option-list .verjs-search-items i {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: coral;
    background: #ffffff;
}
.verjs-select-option-list.verjs-select-option-list-hide{
    display: block;
}
.verjs-select-option-items {
    padding: 0;
    margin: 5px auto;
    overflow: auto;
}

.verjs-empty-option {
    color: #dddddd;
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 12px;
}
.verjs-select-option-items-value{
    padding: 0 15px;
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 5px;
}
.verjs-select-option-items-value span{
    padding-left: 10px;
}

.verJsFont-checkbox{
    color: coral;
}

.verjs-select-selecteds,.verjs-select-option-items-value:hover{
    background: coral;
    color: #ffffff;
}

.verjs-select-option-items-value:hover .verJsFont-checkbox{
    color: #ffffff;
}